*{
	box-sizing: border-box;

}
body {
	background-color: white;
	background-image: url("bg1.jpg" );
	background-size:inherit;
	font-family: 'Ubuntu',Tahoma, sans-serif;
	margin:0px;
}

.container{
	position:relative;
	margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
#header{
	top: 0;
	left:0;
	right: 0;
	background-color: #E44233;
	min-height: 100px;
	z-index: 1000;

}

.logIn{
	margin:auto;
	float: right;
	padding-top: 20px;
}

#header .logIn a{
	text-decoration: none;
	font-family: 'Ubuntu',Tahoma, sans-serif;
	color: white; 
	font-size: 200%;
	margin-right: 10%;
}
#header .logIn a:hover{
	color: #f9d5d2;
	text-decoration: underline;
}

#banner{
	background-color: rgba(0,0,0,0.5);
	height:auto;

	min-height: 200px;
	width:100%;
	display: flex;
	align-content: space-around;
}

#logo h1{
	color:white;
	text-align: left;
	margin-left:5%;
	font-size: 500%	;
	margin-bottom: 2px;
	margin-top: 2px;
}
#searchboxContainer{

	margin: auto;
}

.new{
	margin:auto;
	width: 260px;
}

.searchbox{
	margin:auto;
	width:auto;
}


#sheader{
	margin: auto;
}
#sheader{
	background-color:none;
}
#snewsearch{
	margin-top:1%;
	padding-bottom: 1%;
}
.stextinput{
	margin: 0;
	padding: 5px 15px;
	font-size:14px;
	border:1px solid #0076a3; border-right:0px;
	border-top-left-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
}
.sbutton {
	margin: 0;
	padding: 5px 15px;
	font-size:14px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	color: white;
	border: solid 2px white; 
	background: #E44233;
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
}
.sbutton:hover {
	text-decoration: none;
	background: #9C2E24;
	background: -webkit-gradient(linear, left top, left bottom, from(#9C2E24), to(#E2796F));
	background: -moz-linear-gradient(top,  #9C2E24,  #E2796F);
}

.sbutton::-moz-focus-inner {
  border: 0;
}
.sclear{
	clear:both;
}

.tagmag{
	margin:auto;
	padding-top: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	/*align-items: center;*/	
	align-content: space-between;
	/*border:2px red;*/
	margin-top：100px;
	/*backgroundcolor: rgba(0,0,0,0.2);
	border-radius: 25px;*/

	width:98%;
}

.tm {
	display: flex;
	margin:5px;
	width:90px;
	height:90px;
	border: 2px solid #fceae9;
	border-radius:10px;

}


.tagmagbg :hover{
	background-color: rgba(0,0,0,0.5);
}

#tm1{
	background-image: url("yakitori.jpg");
	background-position: center;
}

#tm2{
	background-image: url("izakaya.jpg");
	background-position: center;
}
#tm3{
	background-image: url("ramen.jpg");
	background-position: center;
}

#tm4{
	background-image: url("udon.jpg");
	background-position: center;
}

#tm5{
	background-image: url("sake.jpg");
	background-position: center;
}

#tm6{
	background-image: url("sushi.jpg");
	background-position: center;
}

#tm7{
	background-image: url("grill.jpg");
	background-position: center;
}


.tm a{
	margin:auto;
	background-color: rgba(0,0,0,0.5);
	z-index: 10;
	font-size: 25px;
	color: white;
}

.tm a:hover{
	background-color: rgb(255,255,255);
	color:#71170f ;
}

#footer{
	color:#871b12;
	-webkit-text-stroke-width: 0.5px;
	-webkit-text-stroke-color: #f9d5d2;
	min-height: 180px;
	font-size: 25px;
	font-weight: 500;
	z-index: 2;
}

.followUs {
	margin-left: 20%;
	padding-top: 45px;
}
.followUs li {
    border-radius: 18px;
    border: 1px solid #f9d5d2;
    padding-top: 7px;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    width: 36px;
    height: 36px;
    color:#871b12 ;
    font-size: 20px;
    font-weight: 5px;
    background-color: rgba(249, 213, 210,0.25);

}
p{
	font-size: 22px;
	font-weight: 500;
}

.copyright{
	text-align: center;
	padding-bottom: 20px
}

.copyright p{
	font-size: 18px;
	font-weight: 500；
	font-style: light;
	margin-right: auto;
	text-align: center;
	margin-bottom: 0;
}

.copyright a{
	font-size: 18px;
	font-style: light;
	font-weight: 500;
	text-align: center;
	margin-bottom: 20px;
	color: #871b12;
	-webkit-text-stroke-width: 0.5px;
	-webkit-text-stroke-color: #f9d5d2;
}

#iDecideButton{
	margin-top: 2%;
	margin-bottom: 2%;
}
.button{
	padding-top: 0.25%;
	width: 200px;
	height: 50px;
	margin:auto;
	border: 2px solid #71170f;
	border-radius: 6px;
	text-align: center;

}

#iDecideButton .button a{
	text-decoration: none;
	margin-bottom: 10px;
	color: black;
	font-style:bold;
	font-size: 30px;
}


.button:hover {
	text-decoration: none;
	background: #ed8178;
	background: -webkit-gradient(linear, left top, left bottom, from(#e44233), to(#ed8178));
	background: -moz-linear-gradient(top,  #e44233,  #ed8178);
}

.taglist, body>p{
	background-color: rgba(0,0,0,0.5);
	border:none;
}